.woocommerce-account {
    .content-area {
        .woocommerce-MyAccount-navigation {
            font-size: $medium-size;

            .list-group {
                .list-group-item.list-group-item-action {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    .woocommerce {
        h2 {
            font-size: $h4-size;
        }
        .card {
            max-width: 465px;
        }
    }

    .woocommerce-MyAccount-content {
        .alert {
            font-size: $medium-size;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: fit-content;
        }

        form {
            a.woocommerce-button.btn.btn-sm {
                font-size: 0.75em !important;
            }
        }
    }

    .woocommerce-form-row.woocommerce-form-row--wide.form-row {
        em {
            font-size: $small-size;
        }
    }

}

.woocommerce-form-login {
    .woocommerce-form-row {
        max-width: 400px;
    }
}

/* WooCommerce my account */
li.is-active > a {
    transition: 0.6s;
    box-shadow: none;
}

