.woocommerce-cart {
    .woocommerce-message {
        margin-left: 0;
    }

    .shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
        .product-subtotal {
            display: none;
        }
    }

    form.cart button[type='submit']:not(#qib_id):not(#qib_id):not(_):not(_) {
        line-height: 0;
    }

    input[name="coupon_code"] {
        max-width: 240px;
        margin-right: 10px;
    }

    button[name="apply_coupon"] {
        padding-top: 0.5em !important;
        padding-bottom: 0.25em !important;
    }

    @media (min-width: 768px) {
        .woocommerce table.cart td.product-quantity .qib-container:not(#qib_id):not(#qib_id) {
            display: flex;
            justify-content: flex-start !important;
        }
    }

    table.cart {
        button[name="update_cart"] {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

}

button[name="apply_coupon"] {
    height: 40px;
    line-height: 1;
}

/* Mini cart */
.items-in-cart {
    position: absolute;
    top: -20%;
    left: 35%;
    font-size: 12px;
}

.woocommerce-mini-cart__empty-message.alert {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
