/* COMMENTS */
.comment-form {
    .comment-form-cookies-consent {
        .form-check-label {
            font-weight: 400;
            font-size: $medium-size;
        }
    }
}

.comment-content {
    width: 100%;
}

.comment-respond {
    h2 {
        font-size: $h4-size;
    }
}

#comments {
    h2.comments-title {
        font-size: $base-size;
    }

    .comment {
        h3.h5 {
            font-size: $medium-size !important;
            margin-bottom: 0;
            padding-left: 0.5em;
        }

        .comment-content {
            .card {
                .card-body {
                    & > div {
                        display: flex;
                        align-items: center;
                    }

                    .comment-meta {
                        time {
                            font-size: $small-size;
                        }
                    }
                }
            }
        }
    }
}


p.logged-in-as {
    font-size: 0.875em;
}

.comment-list {
    article.comment-body:first-of-type {
        margin-top: 1em !important;
    }

    a.comment-edit-link {
        font-size: 0.875em;
        padding-left: 0.5em;
    }

    a.comment-reply-link {
        font-size: 0.875em;
    }

    .card-block {
        p {
            font-size: 0.875em;
        }
    }
}

.comment-form-cookies-consent.custom-control {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}
