/* Images */
.wp-block-image .alignleft {
    float: none !important;
}

.no-list-image {
    list-style-image: none;
}

.profile-img {
    margin-left: 0.5rem;
    width: 60px;
    height: 60px;
}

/* .avatar */
.profile-img-small {
    width: 45px;
    height: 45px;
}

.medium-img {
    width: 50%;
}

.single {
    .post-thumbnail {
        img {
            height: 340px;
            width: auto;
            object-fit: contain;

            @media screen and (max-width: 576px) {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.card-img-left {
    .badge.bg-danger.position-absolute {
        margin-right: 1em;
        margin-top: 0.75em;
        right: 0;
        top: 0;
    }
}
