/* Cookie bar */
.pea_cook_wrapper p {
    bottom: 30px !important;
    font-size: $small-size !important;
    margin: 0 !important;
    font-weight: normal !important;
}


.author {
    .author-bio {
        margin-bottom: 3rem;
        .author-bio__description {
            margin-top: 0.5rem;
        }
        h1 {
            margin-bottom: 0;
        }
    }

    .page-header.d-flex {
        align-items: center;
        margin-bottom: 0;
    }
}


/* Notification bar */
.wpfront-message {
    font-size: $small-size;
}


ul.children {
    margin-top: 0;
}


.error-404.not-found {
    .alert {
        width: fit-content;
    }
}

.alert {
    font-size: $medium-size;
}


.tags-links {
    a.badge {
        font-size: $small-size;
    }
}

.post-badge {
    position: absolute;
    left: 0;
    top: 4px;

    .category-badge {
        margin-left: 1em;
    }
}

.category-badge {
    margin-top: 0.25em;

    .badge {
        text-transform: none;
        font-size: 14px;
        border: 1px solid transparent;
        padding: 0.5em 0.45em;
    }
}

.wp-block-heading {
    margin-top: 2em;
    margin-bottom: 1em;
}


aside .widget.widget_search {
    max-width: 500px;
}

.sidebar-area aside.widget-area {
    padding-top: 0;

    .widget {
        padding-left: 1rem;
        padding-right: 1rem;

        ol.wp-block-latest-comments {
            margin-bottom: 0;

            li.wp-block-latest-comments__comment:last-child {
                margin-bottom: 0;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .desktop-sidebar {
        display: block;
    }
    .mobile-sidebar {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .desktop-sidebar {
        display: none;
    }
    .mobile-sidebar {
        display: block;
    }
}

.single {
    h1 {
        line-height: 100%;
        font-size: 3.5rem;
    }

    .breadcrumb {
        margin-top: 2em;
        padding-left: 0;
    }
}

.single:not(.single-product) .entry-content {
    p, ul, ol, div {
        font-size: 18px;
    }
}

.entry-header {
    h1 {
        margin-bottom: 0.5em;
    }
}

@media (max-width: 768px) {
    article.sticky .card-img-left {
        img {
            height: 340px;
            object-fit: cover;
        }
    }
}

