/* Custom form over */
.widget {
    margin-bottom: 0;

    .wp-block-group__inner-container {
        h2 {
            font-size: $base-size;
        }

        a {
            font-size: 14px;
        }

        ol.wp-block-latest-comments {
            padding-left: 0;
        }

        article {
            .wp-block-latest-comments__comment-meta {
                font-size: 1rem;
            }
        }
    }

    &.widget_block,
    .widget-area {
        section.widget {
            margin-bottom: .5rem !important;
        }
    }


    &.widget_block.widget_search {
        padding-top: 0;
    }
}

.widget-area {
    .wp-block-heading {
        margin-top: 0;
        margin-bottom: 1em;
    }
}
