/*
 Theme Name:   Decimus Child
 Description:  Decimus WooCommerce Child Theme
 Author:       András Gulácsi
 Author URI:   https://webandras.hu/
 Template:     decimus
 Version:      1.0.4
 Tested up to: 6.4.3
 Requires PHP: 8.0
 Text Domain:  decimus-child
*/

/*
Add as many files as you need for development.
When you're done, merge them all in the style.css file to reduce file requests.
*/
