/* MODALS */
.modal-dialog {
    .modal-content {
        .modal-header {
            padding: 1rem;

            .btn-close {
                color: #000;

                &:hover {
                    color: #000;
                }
            }

            h5.modal-title {
                font-size: 1rem;
            }
        }
    }
}
