.woocommerce table.shop_attributes {
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .125);

    td {
        font-style: normal;
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, .125);
    }

    th {
        border-bottom: 1px solid;
        border-color: rgba(0, 0, 0, .125);
    }
}


.woocommerce table.shop_attributes tr:nth-child(even) td,
.woocommerce table.shop_attributes tr:nth-child(even) th {
    background: var(--bs-light);
}


.card img.attachment-woocommerce_thumbnail {
    width: 100%;
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px)
}


.woocommerce {
    div.product {
        .stock {
            color: currentColor;
        }

        .out-of-stock {
            color: var(--bs-danger);
        }
    }
}


ul.tabs.wc-tabs {
    -ms-overflow-style: none;
    overflow-x: auto !important;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:nth-child(1) {
    margin-left: -16px
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:nth-child(1):before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    z-index: 0
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border-bottom-right-radius: 0;
    border-width: 0;
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: .25rem .25rem 0 0;
}

button.single_add_to_cart_button.btn.btn-primary.disabled.wc-variation-selection-needed:hover {
    cursor: not-allowed;
}

.woocommerce div.product form.cart .variations select {
    margin-right: 0;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: var(--bs-light)
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: var(--bs-primary)
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.card .price {
    color: var(--bs-gray)
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
del,
.card del .woocommerce-Price-amount.amount,
.card del .woocommerce-Price-amount.amount {
    opacity: 0.9 !important;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
ins {
    color: var(--bs-danger);
}


.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
    font-weight: normal;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    opacity: 1
}




.card .price .woocommerce-Price-amount.amount {
    font-size: 1.25rem;
}

.woocommerce div.product p.price .woocommerce-Price-amount.amount {
    font-size: 2.5rem;
}

.woocommerce-variation-price {
    font-size: 2rem;
}

.woocommerce div.product form.cart .variations {
    margin-bottom: 0;
}


.product_meta {
    font-size: 0.875rem;

    .sku_wrapper::after,
    .posted_in::after {
        content: "\A";
        white-space: pre;
    }
}


/* Comments */
#woo-comments {
    .star-rating {
        float: right;
        margin: 0;
    }

    .depth-2 {
        padding-left: 65px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.reviews_tab {
    margin-right: 0
}


span.badge.bg-danger.sale {
    position: absolute;
    left: 1rem;
    top: 1rem
}

span.badge.bg-danger.sale,
span.badge.bg-danger.sale-product {
    font-size: 1.25rem
}

.sale-product {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1
}

.card.h-100.d-flex.product a:hover {
    text-decoration: none
}

.products .card .star-rating,
.card .star-rating {
    float: none;
    margin: 1rem auto
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link,
a.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {
    text-decoration: none !important;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    float: none;
    margin: .5rem 0;
}

.custom-validation.validate-required {
    margin-left: 0;
}


/* Gallery Overlay */
.pswp__caption__center {
    text-align: center;
}

.pswp__bg {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: grayscale(100%) blur(7px);
    -webkit-backdrop-filter: grayscale(100%) blur(7px);
}

.pswp__ui--fit .pswp__caption, .pswp__ui--fit .pswp__top-bar {
    background-color: rgba(0, 0, 0, 0) !important;
}


/* Product list pages */
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: none
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: none
}

.woocommerce .woocommerce-ordering {
    margin: 0
}

